<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navigation') %>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">Acerca de:</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, libero vero enim laborum
                    accusantium odit suscipit dignissimos asperiores alias id necessitatibus modi pariatur blanditiis
                    ipsam fugit officia, eum quo veniam. Numquam hic quas quibusdam cum recusandae! Debitis, repellat
                    tempora! Deleniti deserunt illo, neque rerum odit fugit, saepe voluptas iure quas cupiditate ut
                    tempore? Saepe alias, tempora repellendus non voluptatibus dignissimos dicta, iure quae aliquid esse
                    quod modi amet nisi quia error rem possimus natus temporibus eligendi dolores minus harum dolor
                    facere obcaecati! Provident quae quia dolor accusantium quisquam sed, voluptatem laudantium
                    consectetur? Illum voluptates deserunt dolores odit perspiciatis rerum doloremque dolore, neque non?
                    Laborum quisquam quos quo illo numquam sunt! Quae quos officiis, reiciendis molestiae quas dolorem
                    impedit aspernatur facere? Aliquid alias rem incidunt deleniti facilis earum! Porro eveniet commodi
                    quia fuga suscipit quos velit, nam distinctio ullam vel necessitatibus est inventore dolorem
                    quisquam consectetur, architecto adipisci autem reiciendis! In ipsam libero eaque asperiores minus
                    dignissimos odio accusamus quia illo tempora id consectetur similique optio nisi, molestiae ratione
                    natus praesentium iste dolore pariatur cumque vitae. Atque nam cupiditate necessitatibus assumenda
                    magnam suscipit facilis dicta, vero nemo. Omnis suscipit enim adipisci nihil quisquam unde corrupti
                    tempora sapiente similique provident, culpa sequi?</p>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>